@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --md-width:375px;
    --desktop-width:1440px;

    /* color */
    --bg-body:hsl(212, 45%, 89%);
    --bg-card: hsl(0, 0%, 100%);

    /* fonts colors*/
    --sf-color: hsl(220, 15%, 55%);
    --pf-color: hsl(217, 45%, 22%);

    /* font size */
    --fs-p : 15px;
    --primary-fw: 700;
    --secondary-fw: 400;
}


/* Css Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-body);
    position: relative;
}
.qr-card{
    background-color: var(--bg-card);
    border-radius: 16px;
    width: 320px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.qr-img{
    height: 280px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}
.qr-img img{
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    width: 90%;
    padding: 16px 0;
}
.content h1{
    font-size: 1.4rem;
    font-weight: var(--primary-fw);
    color: var(--pf-color);
    text-align: center;
}
.content p{
    font-size: var(--fs-p);
    font-weight: var(--secondary-fw);
    color: var(--sf-color);
    padding: 18px 0;
    text-align: center;
}
.attribution{
    position: fixed;
    bottom: 80px;
    left: 20px;
}
@media (width <= 375px){
    
}